// Main colors
$primary-color: #b803ff;
$secondary-color: #636363;
$tertiary-color: #ffdd03;
// Text colors
$primary-text: #fff;
$secondary-text: #000;
$tertiary-text: #ccc;
// Support colors
$color-1: #ead1e8;
$color-2: #92ad5c;
// Sizes
$primary-size: 12px;
$secondary-size: 14px;
$tertiary-size: 18px;
$title-size: 22px;
$ultra-size: 30px;
$caorusel-size: 24px;
$arrow-size: 7px;
// Spaces
$safe-space: 30px;
// Height & Widths
$header-h: 65px;
$footer-h: 30px;
// Break points
$tablet-width: 768px;
$desktop-width: 1024px;